In [1]:
import RecommendationC

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_movies=pd.read_csv('movies.csv')
df_ratings=pd.read_csv('ratings.csv')

In [4]:
dataframe=pd.merge(df_movies,df_ratings,on='movieId')

In [5]:
dataframe.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [6]:
RecommendationC.Reco(df_movies)
RecommendationC.cosine_similarity_Movie(dataframe)

In [7]:
print('                  *************************************************************************************')
print('Recommendation Based on Genre.............**********')
RecommendationC.simi('Toy Story (1995)')

print('                  *************************************************************************************')
print('Recommendation Based on MovieTOMovie based on User Ratings.............**********')
RecommendationC.MovieToMovie('Toy Story (1995)')

                  *************************************************************************************
Recommendation Based on Genre.............**********
title
Toy Story (1995)                    1.0
Emperor's New Groove, The (2000)    1.0
Boxtrolls, The (2014)               1.0
Tale of Despereaux, The (2008)      1.0
Turbo (2013)                        1.0
Name: Toy Story (1995), dtype: float64
                  *************************************************************************************
Recommendation Based on MovieTOMovie based on User Ratings.............**********

                                                      title
1693177           Star Wars: Episode IV - A New Hope (1977)
4645235                Independence Day (a.k.a. ID4) (1996)
6401650   Star Wars: Episode VI - Return of the Jedi (1983)
7064774                           Back to the Future (1985)
12570218                                 Toy Story 2 (1999)